on early-init
    mkdir /storage 0055 system sdcard_r
    mkdir /storage/sdcard0 0000 system system
    mkdir /storage/sdcard1 0000 system system
    mkdir /mnt/cd-rom 0000 system system

    # for backwards compatibility
    symlink /storage/sdcard0 /sdcard
    symlink /storage/sdcard0 /mnt/sdcard
    symlink /storage/sdcard1 /mnt/sdcard2
    symlink /mnt/sdcard /sdcard

    mkdir /protect_f 0771 system system
    mkdir /protect_s 0771 system system

on init
    export EXTERNAL_STORAGE /storage/sdcard0
    export SECONDARY_STORAGE /storage/sdcard1

    mount_all /fstab.mt6572
